{% extends "main.html" %}
{% load widget_tweaks %}
{% block content %}
  <div class="container">
    <h2>Edit Task</h2>
    <br>
    <form action="{% url 'edit-todo' todo.id %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-floating">
            {% render_field field class="form-control" %}
            <label for="{{field.id_for_label}}">{{field.label}}</label>
        </div>
        <br>
        {% endfor %}
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
  </div>
{% endblock content %}